[
    {kernel,
            [{inet_dist_listen_min, 65535},
            {inet_dist_listen_max, 65535},
            {inet_default_listen_options, [{nodelay,true}, {sndbuf,65535}, {recbuf,65535}, {keepalive,true}]},
            {inet_default_connect_options, [{nodelay,true},{keepalive,true}]}
            ]
    },
    {rabbit, [
        {vm_memory_high_watermark, 0.85},
        {memory_alarms, true},
        {tcp_listeners, [{"127.0.0.1",5672}]},
        {ssl_listeners, [{"{{ salt['network.interfaces']()['bond0']['inet'][0]['address'] }}",5671}]},
        {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
            {certfile,"/etc/rabbitmq/ssl/cert.pem"},
            {keyfile,"/etc/rabbitmq/ssl/cert.key"},
            {verify, verify_none},
            {fail_if_no_peer_cert,false}]},
        {cluster_nodes, {[ 'rabbit@{{ pillar['endpoints']['rabbit']['servers'].keys()[0] }}','rabbit@{{ pillar['endpoints']['rabbit']['servers'].keys()[1] }}','rabbit@{{ pillar['endpoints']['rabbit']['servers'].keys()[2] }}' ], disc}}
    ]},
    {rabbitmq_mochiweb, [{listeners, [{mgmt, [{port, 55672}]}]}]}

].
